.form{
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  margin-top: '50px';
}

.fileInput{
  display: 'none';
}

.imagePreview{
  width: '200px';
  height: '200px';
  margin-top: '50px';
}

.root{
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
}

.fileLabel{
  margin: '50px';
}

.submitButton{
  margin: '50px';
}

.guess{
  margin: '50px';
}

.progress{
  margin: '50px';
}